/* styling for columns */

.row {
  justify-content: center;
}

.col-2 {
  background-color: #edadc7;
  color: white;
  min-height: 700px;
  display: inline-block;
  grid-template-rows: 20px repeat(5, 100px);
  align-content: space-evenly;
  grid-auto-rows: 100px;
  border-radius: 8px;
}

html {
  font-size: 1rem;
}
/* styling for columns */
/* Start of navigation bar css */

.navbar-nav {
  margin-left: 50%;
}

h1 {
  color: #edadc7;
}

.nav-item {
  padding: 0 3rem;
}

.header-border {
  border-bottom: none;
  border-bottom: 3px dashed;
  border-color: #edadc7;
}

.nav-size {
  color: #edadc7 !important;
  font-size: 1.5rem;
}

/* End of navigation bar css */

.banner {
  color: white !important;
  width: 300px !important;
  background-color: #edadc7 !important;
  border: 2px solid #edadc7;
  margin: 40px;
}

/* styling for about us*/
.sectionStyling h2 {
  text-align: center;
  width: 100%;
  margin: auto;
  padding-top: 2rem;
  text-decoration: underline;
  color: #edadc7;
}

.sectionStyling p {
  text-align: center;
  width: 100%;
  margin: auto;
  padding-top: 2rem;
}
/* styling for about us*/

/* styling for task cards*/

.task-board-container {
  text-align: center;
  width: 100%;
  margin: auto;
}

.task-container {
  justify-self: center;
  background-color: rgb(173, 232, 244);
  border-right: 1px solid rgb(173, 232, 244);
  margin-top: 4em;
}

.card-body {
  line-height: 10%;
}
.card-header {
  background-color: rgb(173, 232, 244) !important;
  border: none !important;
  text-decoration: underline;
}

.card-footer {
  background-color: rgb(173, 232, 244) !important;
  border: none !important;
}

.card-button {
  border-radius: 0.25rem;
}

.edit-button {
  background-color: white;
  color: #edadc7;
  border: #edadc7;
}

.delete-button {
  background-color: white;
  color: #edadc7;
  border: #edadc7;
  border-width: 2px;
}

/* Styling for modal */

#textDes {
  border: 1px solid lightgray;
}
#date {
  width: 100%;
  height: 49%;
  padding-left: 5%;
  border: 1px solid lightgray;
  border-radius: 5%;
}
